.view {
    perspective: 800px;
}

.card {
    transform: rotateY(0deg);
    position: relative;
    margin: 50px;
}

.face {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    width: 400px;
    height: 200px;
    background-color: #000;
}

.back {
    -webkit-transform: rotateY(-180deg);
     position: relative;
    top: -240px;
    left: 0px;
    background-color: darkslategray;
    z-index: -1;
}

p {
    color: #fff;
    font-size: 40px;
    font-family: Helvetica;

    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

textarea {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    overflow: auto;
    resize: none;
    border: none;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
}
textarea:focus {
    outline:0;
    outline:none;
    -moz-appearance:none;
}